@for (panel of panels(); track panel.id; let index = $index) {
	<hub-nav-panel
		[panel]="panel"
		[panelWidth]="panelWidth()"
		[itemTemplate]="itemTemplate()"
		[dropdownRenderMode]="dropdownRenderMode()"
		[overlayOwnerClass]="overlayOwnerClass()"
		[overlayOrientationClass]="overlayOrientationClass()"
		[showHeader]="shouldShowHeader(index, panel)"
		(closePanel)="panelClose.emit($event)"
		(backClick)="panelBack.emit($event)"
		(itemClick)="itemClick.emit($event)"
		(dropdownToggle)="dropdownToggle.emit($event)"
		(panelOpen)="panelOpen.emit($event)"
	/>
}
